@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$body-background-color: #0079BF;
$main-background-color: #0067A3;
$color-light: #fff;
$color-dark: #000;
$color-gray: #5E6C84;
$color-light-gray: #CBCBCB;
$color-error: red;
$border-error: 2px solid red;
$color-warning: #fc0;
$color-text-warning: #daaf00;
$list-bg-color: #EBECF0;
$item-bg-color: $color-light;
$add-btn-bg-color: $color-light;
$add-btnhover-bg-color: $color-light-gray;
$text-add-btn: $color-gray;
$text-btn: $color-light;
$text-normal: $color-dark;
$avatar-bg-img: url("https://robohash.org/stefan-two");
$text-light-size: 14px;
$text-regular-size: 18px;
$text-regular-weight: 400;
$text-subtitle-size: 22px;
$text-title-size: 28px;
$font-family: 'Roboto', sans-serif; 