@import "./../../configcss.scss";

.wrapper {
	background: $main-background-color;
	display: flex;
	align-items: center;
	padding: 0 20px 0 22px;
	height: 55px;
	@media all and (max-width: 380px) {
			height: 75px;
		}
	&__block{
	display: inline-block;
	@media all and (max-width: 380px) {
		display: block;
		margin-bottom: 5px;
		}
	}

	&__item {
		display: inline-block;
		padding-right: 8px;
		&_title {
			@media all and (max-width: 576px) {
				display: none;
				padding-right: 8px;
			}
		}
	}

	&__item:not(:last-child) {	
		@media all and (max-width: 768px) {			
		}
	}

	&__author {
		margin-left: auto;

		@media all and (max-width: 768px) {
			text-align: right;
			padding-left: 10px;
		}

		&_title {
			@media all and (max-width: 576px) {
				display: none;
			}
		}

		&_year {
			@media all and (max-width: 320px) {
				display: none;
			}
		}
	}
}

.item {
	&__status {
		display: inline-block;
		border-radius: 50%;
		background-color: $list-bg-color;
		height: 25px;
		width: 25px;
		margin-right: 3px;
		vertical-align: text-bottom;
		text-align: center;
		cursor: help;
		display: none;

		@media all and (max-width: 576px) {
			display: inline-flex;
			justify-content: center;
			align-items:center;
		}

		& svg {
			
			width: 12px;
			fill: $color-dark;
		}
	}
}
